export(downloadEnsemblData)
export(mapGeneNames)
export(assignPhase)
export(classifyCells)
export(regressCyclePartial)
export(plotMixture)
export(prepData)
export(knnSmooth)
export(checkFit)
importFrom(SummarizedExperiment, "rowData", "assays")
importFrom(Matrix, "colSums")
importFrom(Seurat, "GetAssayData", "CreateSeuratObject","SCTransform")
importFrom(SeuratObject, "JoinLayers")
importFrom("MASS", "glm.nb")
import("mclust")
import("biomaRt")
import("RcppAnnoy")
import("future")
import("future.apply")
importFrom("stats", "model.matrix", "dnorm", "glm", "var", "ks.test", "rnorm")
importFrom("matrixStats", "rowVars", "colVars")
importFrom("graphics", "abline", "arrows", "axis", "curve", "hist",
             "par", "plot", "text")
importFrom("methods", "new")
