export(downloadEnsemblData)
export(mapGeneNames)
export(assignPhase)
export(classifyCells)
export(regressCycle_scater)
export(regressCycle_partial)
export(plotMixture)
import(SingleCellExperiment)
import(SummarizedExperiment)
import(scater)
import("mclust")
importFrom("stats", "model.matrix", "dnorm", "glm", "var")
importFrom("matrixStats", "rowVars", "colVars")
importFrom("graphics", "abline", "arrows", "axis", "curve", "hist",
             "par", "plot", "text")
