export(downloadEnsemblData)
export(mapGeneNames)
export(assignPhase)
export(classifyCells)
export(regressCyclePartial)
export(plotMixture)
export(prepData)
import(SingleCellExperiment)
import(SummarizedExperiment)
import(Matrix)
import(Seurat)
importFrom("MASS", "glm.nb")
importFrom(scater, "normalizeExprs")
import("mclust")
importFrom("stats", "model.matrix", "dnorm", "glm", "var")
importFrom("matrixStats", "rowVars", "colVars")
importFrom("graphics", "abline", "arrows", "axis", "curve", "hist",
             "par", "plot", "text")
